- content_for :title do
  Home
- content_for :body_id do
  home-page

%article.site-intro
  %h2 So you want an..
  %ol.story-board
    %li>
      internationalized
    %li> responsive
    %li> e-commerce site
    %li> in 4 months?
  %p.punch-line No problem.

%hr

%article

  %h2 The key challenges were:
  %ul
    %li Go from scratch to major international launch in 4 months.
    %li Make the site work across desktop, mobile and tablet devices.
    %li Up-skill the #{client_name} team on the new technology stack while bringing the TW team up to speed on the domain and existing service infrastructure.
    %li Work against a set of services and dependent technologies that were still in development until the final stages of the project.
    %li Integrate with a traditional design team working on the opposite side of the continent.


  %blockquote
    "I think of the TW team as full-time employees rather than just contractors / consultants."
    %span.quote-author -#{client_name} CTO

  %h2 What made us successful:
  %ul
    %li Great partnership between the #{company_name} and #{client_name} teams.
    %li Responsive Web Design - massively reduced effort to target multiple platforms and form-factors. #{client_name}[dot]com is one of the first major e-commerce sites to showcase this approach.
    %li Continuous Delivery - heavy use of automation for both testing and infrastructure  provisioning meant that production releases were low-stress events.
    %li Design collaboration - daily remote video-based "side-by-sides" helped bring the design team our of photoshop and into the browser.
    %li Lean MVP approach - built a thin "walking skeleton" of the whole application in the first week to prove out the key technologies and integrations. This raised confidence levels and then allowed the team to work in parallel on fleshing out key areas of the site.
    %li Rapid training - a mixture of pair-programming and regular "lunch n learn" sharing sessions got the whole team up to speed very quickly.
    %li Evolutionary architecture - applied various techniques to defer key architectural decisions until dependency timelines and product priorities became clearer. (VCR, Feature-flagging, Fake CMS, etc)

  %hr

  %h2 Knowledge Share
  %p
    We had knowledge on both sides of domain and tech.
    #{client_name} had domain knowledge.
    #{company_name} had agile-practice &amp; technical knowledge.
    We had to bring a lot of people together.
    We had to this quickly.

  %h2 Walking Skeleton
  %p
    Often when you work with large teams/expansion, often the end-goal gets foggy.
    As a quick inspection and to get everyone on the same page, so we built this skeleton.
    This gave a lot of areas that we could expand upon. Ability to work in parellel.

  %h2 Test Automation
  %p
    Continuous testing is important.
    Maintaining a healthy product.
    Automated regression testing saves time:
    Knowledge of the entire stack is important, but how do you build in parallel to keep velocity?
    A). You know if you're on the right track.
    B). You know it quickly without manual checking.


  %h2 Architecture
  %p
    In order to have an evolving product, you need an evolving architecture...
    So let's talk about that architecture.
    Architecture: As other dependencies come to completetion.

  %h2 Design Challenges
  %ul
    %li
      Responsive across multipe devices
      %ul
        %li Desktop, Tablet, Mobile
        %li What does it take?
        %li How it done?
    %li
      Brand Identity meets Product Design (separated by 2566-miles).
      %ul
        %li This is a product / an application, not a microsite.
        %li Performance, Accessibility and behaviors are all important.
        %li Talented, traditional print trained design team in New York.
        %li Development team located in Palo Alto.
        %li So how do you create this bridge?

  %hr

  %h2 What does it come down to?
  %ul
    %li Continuous Close Collaboration
    %li Being able/willing to collaborate.
    %li Video side-by-sides between Palo Alto and New York.
    %li Value propisition of each page.
    %li Transformation by doing.
    %li Transformation by collaboration.
    %li Team integration.
    %li Immediately started pairing for day-1.
