%article#never-stop-sketching
  %h2 Never Stop Sketching
  %p By Emily Luke, ThoughtWorks XD

  %p
    Our work with #{client_name}.com kicked off in early August and ended in late September.
    Although it was a short adventure, it was an adventure nonetheless.  
  %p
    The #{company_name} NYC team consisted of:
    Lori Lodwick, Coleman Collins and for the first day, Linda Luu.
    Luckily, Linda brought a goodie bag filled with post-it notes and markers to get us started.
    Day one was filled with information: where the project stood, where it was going,
    which assets had already been created, and main tasks that needed doin'.
    Armed with our stickies, we made a project board to get us started.

  %p= image_tag("never_stop_sketching/nss_1.jpg")

  %p
    We chatted about next steps and I volunteered to create a mockup of the digital store landing page
    where users could shop for different types of content.
    I'm not a graphic design expert so I was excited and nervous to take on this challenge...
    Hmmm, wait...what about the steps before the Hi-Fi Photoshop mockup?
    Don't we need to start somewhere simpler?
    Every bone in my body said "wait...first we sketch, then we wireframe, (mostly we skip pixel perfect mockups),
    then we code, test, and do it all over again."
    So I took a step back and...started sketching.

  %p.image-pair
    %span>= image_tag("never_stop_sketching/nss_2.jpg")
    %span>= image_tag("never_stop_sketching/nss_3.jpg")
  %p.image-pair
    %span>= image_tag("never_stop_sketching/nss_4.jpg")
    %span>= image_tag("never_stop_sketching/nss_5.jpg")
  %p And sketched some more...
  %p.image-pair
    %span>= image_tag("never_stop_sketching/nss_6.jpg")
    %span>= image_tag("never_stop_sketching/nss_7.jpg")
  %p And sketched some more...
  %p.image-pair
    %span>= image_tag("never_stop_sketching/nss_8.jpg")
    %span>= image_tag("never_stop_sketching/nss_9.jpg")

  %p
    There was an antsy-ness when I would present these sketches.
    There was a sense of urgency to get things into Photoshop so they could "really see what it would look like."
    So I took one step closer and started to wireframe some concepts.
    It made sense to me to use lo-fi techniques until things were more understood/some decisions were made.
    Changing things in a sketch takes no time at all, changing them in a wireframe takes a little bit of time,
    but changing things in Photoshop can take hours and hours.
    By taking these extra steps, I wasn't trying to slow them down - I was trying to move things along faster...and with more intention.
    I tried to express this.

  %p I did some lo-fi wireframing:

  %p.image-pair
    %span>= image_tag("never_stop_sketching/nav1.jpg")
    %span>= image_tag("never_stop_sketching/nav2.jpg")
  %p.image-pair
    %span>= image_tag("never_stop_sketching/nav3.jpg")
    %span>= image_tag("never_stop_sketching/nav4.jpg")

  %p
    These steps helped us to make some tough decisions about functionality and page layout
    and although I think we still moved into Photoshop too soon and spent too much time working in it before going to code,
    I think we were better off having taken these initial steps.
    These steps also helped me to clear my head and put the pieces together in a logical way before embarking on the digital
    storefront photoshop adventure.
  %p
    In the end, it turned out that the pixel pushing was a trickle down effect from the higher ups at #{client_name}.
    Apparently the higher ups needed to see fully fleshed out ideas (hi-fi mockups) in order to approve them.
    The company had undergone an agile training in the past, but like a lot of large companies,
    just wasn't quite there in their understanding of what agile really means.

  %p
    Overall, the project went well.
    We worked well together as a team and integrated well with the existing creative team in NYC.
    We probably could have connected with the NYC developers better,
    but we made great strides towards developing this kind of communication while we were there.
    About a week before our departure, we organized a Retro with the #{client_name} teams (some members in CA and some in NYC).
    We left #{client_name} with some thoughts and ideas on how to better manage development processes
    and communication and learned more about some of their challenges.

  %p In closing... to all my homies out there, never stop sketching.
