%nav#main-navigation
  %ul
    %li>
      = link_to "Home", :root
    %li>
      = link_to "Walking Skeleton", :walking_skeleton
    %li>
      = link_to "Continous Delivery", :continous_delivery
    %li>
      = link_to "Architecture", :architecture
    %li>
      = link_to "Responsive Design", :rwd
    %li>
      = link_to "Design Collaboration", :design_collaboration